/.DS_Store
/6saf32ambqftpwlnp3hds9z86i0yce2e.pdf
/BinaryIn.java
/BinaryOut.java
/BinaryStdIn.java
/BinaryStdOut.java
/CS EXAM 2
/CheckDigit.class
/CheckDigit.java
/CopyArray.class
/CopyArray.java
/Craps.java
/Draw.java
/DrawListener.java
/EmailAccenture.java
/Evens.class
/Evens.java
/FindDuplicate.class
/FindDuplicate.java
/Functions.java
/GrayscalePicture.java
/HelloWorld.class
/HelloWorld.java
/In.java
/JavaUpToWeek4.pdf
/LargestOfFive.class
/LargestOfFive.java
/LoopPrint.class
/LoopPrint.java
/Nest1.class
/Nest1.java
/NumDigs.class
/NumDigs.java
/OrderCheck.class
/OrderCheck.java
/Out.java
/Palindrome.java
/Pay.java
/Picture.java
/PolygonTransform.class
/PolygonTransform.java
/Portfolio.html
/Portfolio.java
/RURottenTomatoes.class
/RURottenTomatoes.java
/RandomWalker.class
/RandomWalker.java
/RandomWalker1.class
/RandomWalker1.java
/Screen Shot 2022-02-09 at 9.37.13 AM.png
/Screen Shot 2022-02-09 at 9.37.18 AM.png
/Shell.java
/Sierpinski.class
/Sierpinski.java
/Speeding.class
/Speeding.java
/StdArrayIO.java
/StdAudio.java
/StdDraw$RetinaImageIcon.class
/StdDraw.class
/StdDraw.java
/StdIn copy.java
/StdIn.class
/StdIn.java
/StdOut copy.java
/StdOut.class
/StdOut.java
/StdRandom copy.java
/StdRandom.java
/StdStats.java
/Stock.java
/Stock1.java
/StockQuoteLOOKAT.class
/StockQuoteLOOKAT.java
/Stopwatch.java
/StopwatchCPU.java
/Summation.class
/Summation.java
/Test.java
/Theedit.class
/Theedit.java
/Tril.java
/Untitled-1.java
/Visual Studio Code.app
/Voting.class
/Voting.java
/WeatherGenerator.java
/WeatherGeneratorFinal.java
/Website1.html
/Week 3 - Elements of Programming.pdf
/Week 4 - Conditionals and Loops.pdf
/Week 5 - Arrays.pdf
/Week 6 - Input and Output.pdf
/WindChill.class
/WindChill.java
/cs111-a5
/cs111-a6-2
/drywet.txt
/edit.java
/file.pdf
/guessgame.class
/guessgame.java
/inputOutput
/pseudocode-reference-sheet.pdf
/public class RandomWalker
/public class Test{
/public class WeatherGenerator {.java
/test1.java
/testL.class
/testL.java
/wetwet.txt